In [9]:
import numpy as np
import pandas as pd
from laspy.file import File
import sys

In [2]:
inFile = File('../../Data/vaihingen/Vaihingen_Strip_05.LAS', mode='r')

In [4]:
inFile.header.version

'1.0'

LAS 1.0 spec:
http://www.asprs.org/a/society/committees/standards/asprs_las_format_v11.pdf

(this dataset uses point data record format 1)
 
The dataset is not using user_data or pt_src_id fields.

In [5]:
raw = inFile.get_points()

In [14]:
columns = [
    'X',
    'Y',
    'Z',
    'intensity',
    'return_number_byte',
    'classification_byte',
    'scan_angle_rank',
    'user_data',
    'pt_src_id',
    'gps_time']


df = raw_to_df(raw,columns)

KeyboardInterrupt:

In [16]:
df.describe()

,X,Y,Z,intensity,return_number_byte,classification_byte,scan_angle,user_data,pt_src_id,gps_time
count,3.582656e+06,3.582656e+06,3.582656e+06,3.582656e+06,3.582656e+06,3582656.0,3.582656e+06,3582656.0,3.582656e+06,3.582656e+06
mean,5.490566e+06,1.851993e+05,6.554214e+04,8.282784e+01,4.185623e+01,1.0,3.302400e+00,0.0,1.240327e+02,3.771006e+05
std,4.102608e+05,1.652041e+05,9.434697e+03,5.651952e+01,3.222933e+01,0.0,1.648812e+01,0.0,3.294443e+00,8.181300e+00
min,4.754480e+06,-6.692000e+04,-3.573000e+04,0.000000e+00,9.000000e+00,1.0,-3.000000e+01,0.0,1.110000e+02,3.770861e+05
25%,5.150390e+06,2.265000e+04,5.863000e+04,3.600000e+01,9.000000e+00,1.0,-1.200000e+01,0.0,1.220000e+02,3.770937e+05
50%,5.500120e+06,1.845800e+05,6.501000e+04,7.400000e+01,7.300000e+01,1.0,3.000000e+00,0.0,1.240000e+02,3.771008e+05
75%,5.837240e+06,3.476800e+05,7.223000e+04,1.250000e+02,7.300000e+01,1.0,1.800000e+01,0.0,1.260000e+02,3.771076e+05
max,6.206090e+06,4.363600e+05,3.728000e+05,2.550000e+02,2.100000e+02,1.0,3.500000e+01,0.0,3.870000e+02,3.771147e+05

In [17]:
df['num_returns'] = np.floor(df['return_number_byte']/16).astype(int)
df['return_num'] = df['return_number_byte']%16
df.head()

,X,Y,Z,intensity,return_number_byte,classification_byte,scan_angle,user_data,pt_src_id,gps_time,num_returns,return_num
0,4754480,284470,57950,75,9,1,-8,0,123,377086.134474,0,9
1,4754480,284910,57960,102,9,1,-8,0,123,377086.134482,0,9
2,4754480,285360,57940,102,9,1,-8,0,123,377086.134490,0,9
3,4754490,285810,57870,102,9,1,-8,0,123,377086.134497,0,9
4,4754490,286240,57880,98,9,1,-8,0,123,377086.134505,0,9

In [23]:
a = df['return_number_byte'].value_counts()
a.index%8

Int64Index([1, 1, 2, 1, 1, 2, 1, 1, 3, 3, 1, 1, 1, 2, 1, 2, 1, 1, 4, 4, 1], dtype='int64')

In [27]:
df['user_data'].max()

0